<!-- This head section contains all the invisible information about the page -->
<head>
  <title>Latin Americans Cryptographers Magazine</title>
  <meta charset="utf-8">
  <meta name="description" content="This is a website for the Latin Americans Cryptographers Magazine.">
  <meta name="author" content="2020 Nov - Sofia Celi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="refresh" content="600">
  <meta name="keywords" content="'Latin Americans', 'Cryptography', 'Magazine'">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
